@page "/verduras"
@page "/verduras{verdurasId: int}"

@inject VerdurasBLL verdurasBll

<EditForm Model="verdura" OnInvalidSubmit="Guardar">
    <DataAnnotationsValidator />

    <div class="container">
        <div class="card">
            <div class="card-header">
                <h1>Registro de Verduras</h1>
            </div>

            <div class="mb-3">
                <label>VerdurasId</label>
                <div class="form-group accordion-body">
                    <button class="btn btn-secondary" type="button" @onclick="Buscar"></button>
                </div>
                <InputNumber class="form-control" @bind-Value="verdura.VerdurasId"/>
                <ValidationMessage For="@(() => verdura.VerdurasId)"/>
            </div>
            <div class="mb-3">
                <label>Nombre</label>
                <InputText  class="form-control" @bind-Value="verdura.Nombre"/>
                <ValidationMessage For="@(() => verdura.Nombre)" />
            </div>
            <div class="row">
                <div class="row col-2">
                    <label>VitaminaId</label>
                    <InputSelect class="form-select" @bind-Value="detalle.VitaminaId"/>
                    @foreach(Vitaminas vitaminas in ListVitaminas){
                        <options value="@vitaminas.VitaminasId"> @vitaminas.Descripcion</options>
                    }
                </div>
                <div class="row col-2">
                    <label>Cantidad (mg)</label>
                    <InputNumber class="form-control" @bind-Value="detalle.Cantidad" />
                    <ValidationMessage For="@(() => detalle.Cantidad)" />
                </div>
            </div>
        </div>
        <div class="form-check-inline">
            <button class="btn btn-secondary" type="button" @onclick="Nuevo"> Nuevo</button>
            <button class="btn btn-success" type="submit"> Guardar </button>
        </div>
    </div>
</EditForm>

@code {
    [Parameter]
    public int verdurasId { get; set; }

    public Verduras verdura { get; set; } = new Verduras();
    public VerdurasDetalle detalle { get; set; } = new VerdurasDetalle();
    public List<Vitaminas> ListVitaminas { get; set; } = new List<Vitaminas>();

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
    public bool Validar(){
        return true;
    }
    public void Nuevo(){
        verdura = new Verduras();
    }
    public void Guardar(){
        bool guardo;
        guardo = verdurasBll.Guardar(verdura);

    }
    public void Buscar()
    {

    }
    public void Eliminar(){
        bool eliminado;

        eliminado = verdurasBll.Eliminar(verdura);
    }

    

}
